// LAYOUT
$xs-breakpoint: 320px;
$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;
$max-content-width: 1170px;

// TYPOGRAPHY
// $font-system: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
$font-headline: 'Lato', sans-serif;
$font-content: 'Lato', sans-serif;
