@import 'normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  color: inherit;
  user-select: none;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border-width: 0;
}

input,
select {
  outline: none;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
  height: auto;
  cursor: pointer;
}

textarea {
  outline: none;
}

input {
  border-radius: 0;
}

a:active,
a:focus,
input,
input:active,
input:focus,
button,
button:active,
button:focus,
select,
select:focus,
select:active {
  background: transparent;
  border: none;
  outline: 0;
  outline-width: 0;
  outline-style: none;
}

object,
embed {
  outline: 0;
}

a:active,
a:focus,
button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner,
select::-moz-focus-inner {
  border: none;
}

input:not([type='radio']),
textarea,
select {
  appearance: none;
}

input[type='checkbox'] {
  appearance: auto;
}

input,
textarea,
button,
select,
a,
label,
div {
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

select {
  box-sizing: content-box;
  cursor: pointer;
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 #000000;
}

input::-ms-clear {
  display: none;
}

video {
  border: 0 !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type='date']::-webkit-inner-spin-button {
  display: none;
  appearance: none;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
  appearance: none;
}
